.badge {
  position: relative;
  top: -12px;
  padding: 3px 8px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.upcoming {
  background-color: #ffcc00;
  color: black;
}

.success {
  background-color: #28a745;
  color: black;
}

.failed {
  background-color: #dc3545;
  color: white;
}
